.about {
  padding: 8rem 0;
  iframe {
    height: 335px;
    width: 600px;
    margin-left: 40px;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 20px;
    line-height: 42px;
  }
}
