.about {
  margin: 8rem 0;
  padding: 60px;
  .video-container {
    background-image: url('/assets/img/laptop-wireframe.png');
    width: 700px;
    height: 407px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 82px 52px;
  }
  iframe {
    height: 335px;
    width: 600px;
    max-width: 100%;
  }
  .content {
    width: calc(100% - 700px);
  }
  h2 {
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 20px;
    line-height: 42px;
  }
}
