.comparing-cards {
  padding-top: 6rem;
  .main-container {
    position: relative;
    overflow: hidden;
    padding: 30px;
  }
  .card {
    background-color: #fff;
    width: calc(100% / 3 - 24px);
    box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0.1s;
    * {
      transition: all 0.15s ease-in-out;
    }
    &.collapse {
      width: 0;
      * {
        opacity: 0;
        transform: translateY(10px);
      }
    }
    .card-logo {
      height: 100px;
      background-color: #f9f9f9;
      img {
        width: 180px;
        max-height: 100%;
      }
    }
    .card-content {
      padding: 20px 0;
      list-style-type: none;
      li {
        line-height: 28px;
        padding: 10px 20px;
        padding-left: 60px;
        height: 80px;
        display: flex;
        position: relative;
        color: #5a6d86;
        font-size: 16px;
        border-bottom: 1px solid #f0f0f0;
        &:last-of-type {
          border-bottom: 0;
        }
        &::after {
          content: '';
          width: 22px;
          height: 22px;
          background-image: url('/assets/img/close-icon.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 14px;
          left: 20px;
        }
        &.checkmark-icon {
          color: #000;
          &::after {
            background-image: url('/assets/img/checkmark-icon.svg');
          }
        }
      }
    }
  }
  .next,
  .prev {
    position: absolute;
    top: 30%;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    height: 90px;
    width: 45px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    padding-left: 6px;
    cursor: pointer;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.1);
    &.prev {
      left: 0;
      transform: translateX(-100%) rotate(180deg);
      &.show {
        transform: translateX(0) rotate(180deg);
      }
    }
    &.next {
      right: 0;
      transform: translateX(100%);
      &.show {
        transform: translateX(0);
      }
    }
    svg {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1300px) {
  .comparing-cards .card {
    width: calc(100% / 3 - 16px);
  }
  .comparing-cards .card .card-content li {
    height: 105px;
  }
}
@media screen and (max-width: 1000px) {
  .comparing-cards {
    overflow-x: auto;
    .main-container {
      padding: 0 20px;
    }
    .card {
      width: 50%;
      margin: 0 10px;
      &.collapse {
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .comparing-cards {
    .card {
      width: 100%;
      margin: 0;
    }
  }
}
