.comparing-cards {
  padding-top: 6rem;
  .main-container {
    position: relative;
  }
  .card {
    background-color: #fff;
    width: calc(100% / 3 - 24px);
    box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    overflow: hidden;
    &.collapse {
      width: 0;
    }
    .card-logo {
      height: 100px;
      background-color: #f9f9f9;
    }
    .card-content {
      padding: 20px 0;
      list-style-type: none;
      li {
        line-height: 28px;
        padding: 10px 20px;
        padding-left: 60px;
        height: 80px;
        display: flex;
        position: relative;
        color: #5a6d86;
        font-size: 16px;
        border-bottom: 1px solid #f0f0f0;
        &:last-of-type {
          border-bottom: 0;
        }
        &::after {
          content: '';
          width: 22px;
          height: 22px;
          background-image: url('/assets/img/close-icon.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 14px;
          left: 20px;
        }
        &.checkmark-icon {
          color: $txtColor;
          &::after {
            background-image: url('/assets/img/checkmark-icon.svg');
          }
        }
      }
    }
  }
  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    height: 90px;
    width: 45px;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .comparing-cards .card {
    width: calc(100% / 3 - 16px);
  }
  .comparing-cards .card .card-content li {
    height: 105px;
  }
}
@media screen and (max-width: 1000px) {
  .comparing-cards {
    overflow-x: auto;
    .main-container {
      padding: 0 50px;
    }
    .card {
      width: calc(100% / 2 - 12px);
      &:first-of-type {
        margin-right: 24px;
      }
    }
  }
}
