.cta {
  padding: 12rem 0 4rem;
  margin-top: 6rem;
  position: relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
  }
  h2 {
    color: #fff;
    &::after {
      background: #fff;
      opacity: 0.2;
    }
  }
}
