footer {
  padding-top: 40px;
  background-color: #fff;
  .col {
    // width: 25%;
    font-size: 15px;
    flex: 1;
    p {
      font-size: 14px;
      color: #a0aec0;
    }
    ul {
      padding-top: 8px;
      list-style-type: none;
      a {
        padding: 6px 0;
        transition: 0.13s ease-out;
        &:hover {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    background-color: #f4f5f4;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 46px;
  }
}
