footer {
  padding-top: 40px;
  .col {
    // width: 25%;
    font-size: 15px;
    flex: 1;
    p {
      font-size: 14px;
      color: #a0aec0;
    }
    ul {
      padding-top: 8px;
      list-style-type: none;
      a {
        padding: 6px 0;
        transition: 0.13s ease-out;
        &:hover {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    margin-top: 30px;
    padding: 24px 0;
    text-align: center;
    background-color: #f0f0f0;
    div {
      line-height: 40px;
    }
  }
}
