footer {
  padding-top: 40px;
  background-color: #fff;
  .col {
    font-size: 15px;
    padding: 10px;
    flex: 1;
    p {
      font-size: 14px;
      color: #a0aec0;
    }
    ul {
      padding-top: 8px;
      list-style-type: none;
      a {
        padding: 6px 0;
        transition: 0.13s ease-out;
        &:hover {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    background-color: #f4f5f4;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 46px;
  }
}

@media screen and (max-width: 780px) {
  footer {
    .col.logo {
      display: none;
    }
  }
}
@media screen and (max-width: 460px) {
  footer {
    .main-container {
      flex-direction: column;
    }
    .col {
      &.logo {
        display: block;
        text-align: center;
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        align-items: center;
        padding-top: 0;
        li:not(:last-of-type) {
          margin-right: 10px;
          a {
            // padding: 12px;
            white-space: nowrap;
            &::after {
              content: '|';
              margin-left: 8px;
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}
