$mainColor: #005da1;
$secondColor: #ed3821;
$purpleColor: #923b8d;
$txtColor: #1d252d;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: #f8f8f8;
  color: $txtColor;
  font-weight: normal;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $txtColor;
}

// main-container
.main-container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.gradient {
  background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
}

.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.flex-direction-column {
    flex-direction: column;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.btn {
  cursor: pointer;
  border-radius: 40px;
  height: 54px;
  padding: 0 36px;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  &.white-btn {
    background-color: #fff;
  }
}

.section-title {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 3px;
    opacity: 0.3;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: linear-gradient(110deg, $mainColor 0%, $purpleColor 100%);
  }
}

.why-eProcure {
  .features {
    list-style-type: none;
    padding-top: 40px;
    > li {
      width: 28%;
      margin-bottom: 80px;
      box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.07);
      background-color: #fff;
      border-radius: 8px;
      .card-cover {
        padding: 30px;
        border-radius: 8px;
        box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        transform: translate(-24px, -24px);
      }
      .card-content {
        padding: 30px;
        padding-top: 10px;
        .card-title {
          margin-bottom: 20px;
          font-size: 22px;
          text-align: center;
        }
        ul {
          list-style-type: disc;
          padding-left: 20px;
          li {
            line-height: 30px;
          }
        }
      }
    }
  }
}

// CTA
.cta {
  padding: 12rem 0 4rem;
  margin-top: 6rem;
  position: relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
  }
  h2 {
    color: #fff;
    &::after {
      background: #fff;
      opacity: 0.2;
    }
  }
}

footer {
  padding: 20px 0;
  .main-container {
    text-align: center;
    p {
      margin-bottom: 12px;
      font-size: 16px;
    }
    .copyright,
    .links {
      padding: 0 20px;
    }
    a {
      transition: 0.13s ease-out;
      &:hover {
        color: $mainColor;
        text-decoration: underline;
      }
    }
  }
}
