.hero {
  padding: 2rem 0 7rem;
  color: #fff;
  position: relative;
  h5 {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
    margin: 1rem 0 1.5rem;
  }
  p {
    font-size: 22px;
    margin-bottom: 3.5rem;
  }
  .white-logo {
    margin-bottom: 80px;
  }
  .content {
    padding-right: 30px;
  }
  .hero-img img {
    width: 580px;
  }
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
  }
}
