* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #1d252d;
  font-weight: normal;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #1d252d;
}

.main-container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
}

.gradient {
  background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
}

.flex {
  display: flex;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-direction-column {
  flex-direction: column;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-between {
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border-radius: 40px;
  height: 54px;
  padding: 0 36px;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
}
.btn.white-btn {
  background-color: #fff;
}

.section-title {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.section-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 3px;
  opacity: 0.3;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: linear-gradient(110deg, #005da1 0%, #923b8d 100%);
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  transform: translateY(-100%);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
header.show {
  transform: translateY(0);
}
header .btn {
  color: #fff;
}

.hero {
  padding: 2rem 0 7rem;
  color: #fff;
  position: relative;
}
.hero h1 {
  font-size: 40px;
  margin: 1rem 0 1.5rem;
}
.hero p {
  font-size: 22px;
  margin-bottom: 3.5rem;
}
.hero .white-logo {
  margin-bottom: 50px;
}
.hero .content {
  padding-right: 30px;
}
.hero .hero-img img {
  width: 580px;
}
.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
}

.about {
  margin: 8rem 0;
  padding: 80px 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
}
.about .video-container {
  background-image: url("/assets/img/laptop-wireframe.png");
  width: 700px;
  height: 407px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 82px 52px;
}
.about iframe {
  height: 100%;
  width: 100%;
}
.about .content {
  width: calc(100% - 700px);
}
.about h2 {
  margin-bottom: 30px;
  font-size: 30px;
  padding-top: 20px;
  line-height: 42px;
}

.why-eProcure .features {
  list-style-type: none;
  padding-top: 40px;
}
.why-eProcure .features .feature-card {
  width: calc(100% / 3 - 24px);
  margin-bottom: 40px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.why-eProcure .features .feature-card .card-cover {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.why-eProcure .features .feature-card .card-content {
  padding: 30px;
  padding-top: 10px;
}
.why-eProcure .features .feature-card .card-content .card-title {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}
.why-eProcure .features .feature-card .card-content ul {
  list-style-type: disc;
  padding-left: 20px;
}
.why-eProcure .features .feature-card .card-content ul li {
  line-height: 30px;
}

.cta {
  padding: 12rem 0 4rem;
  margin-top: 6rem;
  position: relative;
}
.cta svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}
.cta h2 {
  color: #fff;
}
.cta h2::after {
  background: #fff;
  opacity: 0.2;
}

footer {
  padding-top: 40px;
  background-color: #fff;
}
footer .col {
  font-size: 15px;
  flex: 1;
}
footer .col p {
  font-size: 14px;
  color: #a0aec0;
}
footer .col ul {
  padding-top: 8px;
  list-style-type: none;
}
footer .col ul a {
  padding: 6px 0;
  transition: 0.13s ease-out;
}
footer .col ul a:hover {
  color: #005da1;
  text-decoration: underline;
}
footer .copyright {
  background-color: #f4f5f4;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 46px;
}

/*# sourceMappingURL=styles.css.map */
